.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h3 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

button {
  font-family: 'Indie Flower', cursive;
  font-size:40px;
  color:#eeee;
  display: block; 
  margin:15px auto;
  padding:10px 20px;
  background-color:#4ECCA3;
  border:none;
  outline:0; 
  border-radius: 10px;
}


button:active {
  border: 5px solid #90EE90;
  transition: 0.1s
}
